<section class="uploads">
  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Uploaded</th>
        <th>Gross Revenue</th>
      </tr>
    </thead>
    <tbody>
      <%= render @uploads %>
    </tbody>
  </table>
</section>